@font-face {
    font-family:akkurat mono;
    src: url(AkkuratStd-Mono.woff);
}

body{
    font-family: akkurat mono;
    color: black;
    font-size: 40px;
    background-color: rgb(255, 0, 0);
}

a{
    color: black;
    text-decoration: none;
}

a:hover{
    text-decoration: solid yellow 10px; 
    color: rgb(255, 0, 0);
}
