@font-face {
    font-family: pixel;
    src: url(PxGrotesk-Regular.woff);
}

body{
background-color: aqua;
}

.typo{
    font-family: pixel;
    font-size: 230px;
    color: red;
}

.box{
    border-color: red;
    border:  5px;
    height: 600px;
    width: 40px;
}